<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>vue 测试</title>
</head>
<body>

<!-- 简单绑定 -->
<div id="app">
    {{ message }}
</div>

<!-- title 绑定 -->
<div id="app-2">
    <span v-bind:title="message">
        鼠标悬停几秒钟查看此处动态绑定的提示信息！
    </span>
</div>

<!-- if 条件绑定 -->
<div id="app-3">
    <span v-if="seen">
        你看到我了么？
    </span>
</div>

<!-- for 循环 -->
<div id="app-4">
    <ul v-for="todo in todos">
        <li>{{ todo.text }}</li>
    </ul>
</div>

<!-- on 事件绑定 -->
<div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">逆转消息</button>
</div>

<!-- model 状态绑定 -->
<div id="app-6">
    <span>{{ message }}</span>
    <input type="" name="" v-model="message">
</div>

<!-- component 组件 -->
<div id="app-7">
    <ol>
        <todo-item
         v-for="item in list"
         v-bind:todo="item"
         v-bind:key="item.id"
        ></todo-item>
    </ol>
</div>

<!-- v-once 文本一次性插值 -->
<div id="app-8">
    <span v-once>{{ msg }}</span>
</div>

<!-- 原始 HTML 插值：绝不要对用户提供的内容使用插值。 -->
<div id="app-9">
    <p>使用花括号 {{ rawHtml }}</p>
    <p>使用原始 HTML：<span v-html="rawHtml"></span></p>
</div>

<!-- v-bind 特性：Mustache 语法不能作用在 HTML 特性上，遇到这种情况应该使用 v-bind 指令： -->
<div id="app-10">
    <button v-bind:disabled="isButtonDisabled">Button</button>
</div>

<!-- 使用 JavaScript 表达式 -->
<div id="app-11">
    <span>{{ isOk ? 'Yes' : 'No'}}</span>
</div>

<!-- v-if 指令 -->
<div id="app-12">
    <span v-if="seen">你看的到我妈？</span>
</div>

<!-- v-bind 指令 -->
<div id="app-13">
    <a v-bind:href="url">……</a>
</div>

<!-- v-bind 缩写 -->
<div id="app-14">
    <a :href="url">……</a>
</div>

<script src="https://unpkg.com/vue"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello vue.js!'
        }
    });
    // console: app.message = 'hello, you'

    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: '页面加载于：' + new Date().toLocaleString()
        }
    });
    // console: app2.message = 'test'

    var app3 = new Vue({
        el: '#app-3',
        data: {
            seen: true
        }
    });
    // console: app3.message = false

    var app4 = new Vue({
        el: '#app-4',
        data: {
            todos: [
                { text: '学习JavaScript' },
                { text: '学习vue' },
                { text: '学习整个项目' }
            ]
        }
    });
    // console: app4.todos.push({ text: '学习新项目' })

    var app5 = new Vue({
        el: '#app-5',
        data: {
            message: 'Hello Vue.js'
        },
        methods: {
            reverseMessage: function () {
                this.message = this.message.split(' ').reverse().join(' ');
            }
        }
    });

    var app6 = new Vue({
        el: '#app-6',
        data: {
            message: 'hello vue'
        }
    });

    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{ todo.text }} </li>'
    });

    var app7 = new Vue({
        el: '#app-7',
        data: {
            list: [
                {id: 1, text: '蔬菜'},
                {id: 2, text: '水果'},
                {id: 3, text: '海鲜'}
            ]
        }
    });

    var app8 = new Vue({
        el: '#app-8',
        data: {
            msg: '一次性消息'
        }
    });

    var app9 = new Vue({
        el: '#app-9',
        data: {
            rawHtml: '<span style="color: red">我是红色的</span>'
        }
    });

    var app10 = new Vue({
        el: '#app-10',
        data: {
            isButtonDisabled: true
        }
    });

    var app11 = new Vue({
        el: '#app-11',
        data: {
            isOk: true
        }
    });

    var app12 = new Vue({
        el: '#app-12',
        data: {
            seen: true
        }
    });

    var app13 = new Vue({
        el: '#app-13',
        data: {
            url: 'http://www.baidu.com',
        }
    });

    var app14 = new Vue({
        el: '#app-14',
        data: {
            url: 'http://www.qq.com',
        }
    });
</script>
</body>
</html>