main {
    width: 800px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding: 10px 30px;
    border: 1px solid #e3e3e3;
    line-height: 1.5em;
}

.letter > div {
    overflow: hidden;
}

.letter > .letter-sender-info > div {
    float: right;
    font-style: italic;
    text-align: right;
    padding-right: 5px;
}

.letter > .letter-date > div {
    float: right;
}

.letter > .letter-writer-info > div {
    float: left;
    font-style: italic;
}